body{
  background: rgb(217, 235, 135);
}
h1 {
  font-size: 24px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ddd;
  
}

section{
  display: flex;
}

img{
  width: 120px;
  height: 200px;
  margin-right: 30px;

}